.rating .vue-star-rating-rating-text{
    display: none!important;
}
.ratings .vue-star-rating-rating-text{
    display: none!important;
}
.rating .vue-star-rating{
    margin: auto !important;
}

.old-price {
    color: red;
    margin-left: 3px;
    font-weight: 600;
}
.text-widget.widget.widget__sidebar.shop-info {
    border: 1px solid #eee;
    margin-bottom: 1em;
}
.widget-content {
    padding: 5px;
}
.shop-info .sold-by{
    font-size: 12px;
    color: #6d6d6d;
}
.shop-info .cominfo{
    display: block;
    margin-bottom: 5px;
    width: 100%;
    height: 65px;
}
.shop-info .item{
    display: inline-block;
    float: left;
    margin-right: 10px;
}
.shop-info .shop-name{
    font-size: 20px;
    font-weight: 800;
    padding-bottom: 5px;
    color: #333;
    display: inline-block;
}
.shop-info .section-title{
    font-size: 13px;
    font-weight: 800;
    margin:0;
    padding-bottom: 5px;
    color: #333;
    display: inline-block;
}
.shop-info .shop-address{
    font-size: 13px;
    margin: 0;
    color: #6d6d6d;
    line-height: 2rem;
    display: block;
}

.shop-info .go-to-store{
    padding: 7px;
    border-top: 1px solid #eee;
    text-align: center;
    text-transform: uppercase;
}
.go-to-store a{

    font-weight: bold;
    font-size: 13px;
    color: #0db1b9;
}
.bg-section{
    background: #eeeeeeb0;
    margin-bottom: 5px;
}

.shop-info .delivery-type{
    font-size: 14px;
    margin: 0;
    color: #6d6d6d;
    line-height: 2rem;
    margin-bottom: 5px;
}
.delivery-type .type-name{
    margin-left: 5px;
}
.delivery-type .delivery-time{
    font-size: 12px;
    margin-left: 2em;
}
.payment-options ul{

}

.payment-options ul li{
    padding: 5px;
    display: inline-block;
}

.search-content .widget-title{
    margin-top: 0;
    border-bottom: 1px dotted #0acde6;
    padding: 10px 0px;
    font-size: 1.5em;
}
.widget-content .featured-thumb {
    display: inline-block;
    padding: 0;
    width: 80px;
    margin-right: 10px;
    float: left;
}
.featured-thumb .feat-thumb{
    width: 100%;
    height: 80px;
}
.widget-content .product-name{
    margin-top: 0px;
    margin-bottom: 0px;
}
.widget-content .product-name a{
    /*display: inline-block;*/
    font-size: .7em;
}
.widget-content .product-item{
    padding-bottom: 5px;
}
.widget-content .post-meta{
    margin-bottom: 0px;
}
.block-top-brand-opt14 .nav-brand{
    padding-left: 0px;
    padding-right: 0px;
}
.product-addto-links{
    display: inline;
    padding: 0 10px;
}
.catalog-view_op1 .product-options-bottom .btn-buy{
    height: 36px;
    background-color: #0db1b9;
    color: #fff;
    font-size: 14px;
    padding: 0 12px;
    border: none;
    box-shadow: none;
    line-height: 36px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    margin-bottom: 10px;
}
.catalog-view_op1 .product-options-bottom .btn-buy:hover{
    background-color: #048d94;
}
.catalog-view_op1 .product-options-bottom .btn-buy i{
    font-size: 18px;
    padding-right:5px;
}
.brand-container{
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.mall-brand{
    height: 80px;
    border: 2px solid rgb(214, 214, 214);
    width: 80px;
    position: absolute;
    bottom: 62px;
    left: 38%;
    margin-bottom: 25px;
    background: white;
}
.mall-brand img{
    height: auto!important;
    width: 100%!important;
    max-width: 76px!important;
    max-height: 76px!important;
}

.brand-name{
    font-size: 14px;
    font-weight: 700;
    text-transform: capitalize;
}
.mall-product:hover .brand-container{
    display: none;
}
.mall-info{
    padding: 5px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
}
.mall-info .comp-info h5{
    font-size: 18px;
    font-weight: bold;
}
.mall-info .cominfo img {
    height: 80px;
    width: 80px;
}

.mall-info .cominfo .comp-name{
    font-weight: bold;
    font-size: 16px;
}

@media only screen and (min-device-width: 991px) and (max-device-width: 1199px){
    .payment-options ul li{
        width: 93px;
    }
    .payment-options ul li img{
        width: 100%;
        height: auto;
    }
    .shop-info .shop-name {
        font-size: 1em;
    }
}
@media only screen and (min-device-width: 768px){
    .mall-brand{
        left: 32%;
    }
}
#testimonials .box-timer {
    left: 20%;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 374px){
    #testimonials .box-timer {
        left: 3rem;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 424px){
    #testimonials .box-timer {
        left: 6rem;
    }
}
@media only screen and (min-device-width: 425px) and (max-device-width: 767px){
    #testimonials .box-timer {
        left: 25%;
    }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 991px){
    #testimonials .box-timer {
        left: 65%;
    }
}
@media only screen and (min-device-width: 992px) and (max-device-width: 1199px){
    #testimonials .box-timer {
        left: 15px;
    }
}


