@font-face {
  font-family: 'ProximaNova-Semibold';
  src: url('ProximaNova-Semibold.eot');
  src: url('ProximaNova-Semibold.woff2') format('woff2'),
       url('ProximaNova-Semibold.woff') format('woff'),
       url('ProximaNova-Semibold.ttf') format('truetype'),
       url('ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg'),
       url('ProximaNova-Semibold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

