.panel .panel-heading{
    padding-top: 8px;
    padding-bottom: 7px;
}

.form-control{
    padding-left: 10px;
    padding-right: 10px;
    border-width: 1px;
    border-color: #ddd;
    border-radius: 5px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.select2-selection--single{
    padding-left: 10px!important;
    padding-right: 15px!important;
    border-width: 1px!important;
    border-color: #ddd!important;
    border-radius: 5px!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}


.theme-orange .vdatetime-popup__header,
.theme-orange .vdatetime-calendar__month__day--selected > span > span,
.theme-orange .vdatetime-calendar__month__day--selected:hover > span > span {
    background: #FF9800;
}

.theme-orange .vdatetime-year-picker__item--selected,
.theme-orange .vdatetime-time-picker__item--selected,
.theme-orange .vdatetime-popup__actions__button {
    color: #ff9800;
}

/* The container */
.checkbox-style {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-style input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #fff;
    cursor: pointer;
    color: #455A64;
    border: 2px solid #607D8B;
    display: inline-block;
    text-align: center;
    border-radius: 2px;
}

/* On mouse-over, add a grey background color */
.checkbox-style:hover input ~ .checkmark {
    background-color: #fff;
}

/* When the checkbox is checked, add a blue background */
.checkbox-style input:checked ~ .checkmark {
    background-color: #fff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-style input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-style .checkmark:after {
    left: 5px;
    top: 1px;
    width: 6px;
    height: 10px;
    border: solid #455A64;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

