.panel .panel-heading{
    padding-top: 8px;
    padding-bottom: 7px;
}

.form-control {
    padding-left: 10px;
    padding-right: 10px;
    border-width: 1px;
    border-color: #ddd;
    border-radius: 5px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
